html {
  background-color: #4c8e06;
}

#fontAdjust > button {
  border-color: #d1face;
  background-color: #163805;
  color: #d1face;
}

.song {
  background-color: #73d802;
}

.title {
  color: #163805;
}

.lyrics {
  background-color: #d1face;
  color: #163805;
}

footer p {
  color: #d1face;
}

