<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wednesday Night Song Sheet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css?t=1710159041" />
  </head>
  <body id="">
    <div id="songsheet">
      <div id="controls">
        <input
          id="filter"
          onClick="selectAll(this)"
          type="text"
          v-model="filter"
          placeholder="Search..."
        />
        <div id="fontAdjust">
          <button id="increaseFont" onClick="adjustFont(1.2)" type="button">
            +
          </button>
          <button id="decreaseFont" onClick="adjustFont(0.8)" type="button">
            -
          </button>
        </div>
        <div id="colorPicker">
          <input class="color-range" id="color-range" type="range" min="0" max="360" value="75" title="">
        </div>
      </div>

      <div id="songs">
        <div class="song" v-for="s in filteredSongs">
          <div class="title" onClick="toggleLyrics(this)">
            {{ s.number }}: {{ s.title }}
          </div>
          <div class="lyrics" style="display: none">{{ s.lyrics }}</div>
        </div>
      </div>
      <div id="study-guide">
        <a id="study_guide_url" class="title song" :href="guide_url">Study Guide PDF</a>
      </div>
    </div>
    </div>
    <script
      type="text/javascript"
      src="lyrics.js?t=1710159041"
    ></script>
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript">

      function setColorScheme(degree) {
        darkest=`hsl(${degree}, 80%, 0%)`;
        meddark=`hsl(${degree}, 80%, 20%)`;
        medlight=`hsl(${degree}, 40%, 70%)`;
        lightest=`hsl(${degree}, 80%, 85%)`;

        document.getElementById("themeSetter").innerHTML =  [
          `<style type="text/css">`,
          `html {`,
          `  background-color: ${meddark};`,
          `}`,
          ``,
          `#fontAdjust > button, #study_guide_url {`,
          `  border-color: ${lightest};`,
          `  background-color: ${darkest};`,
          `  color: ${lightest};`,
          `}`,
          ``,
          `.song {`,
          `  background-color: ${medlight};`,
          `}`,
          ``,
          `.title {`,
          `  color: ${darkest};`,
          `}`,
          ``,
          `.lyrics {`,
          `  background-color: ${lightest};`,
          `  color: ${darkest};`,
          `}`,
          ``,
          `footer p {`,
          `  color: ${lightest};`,
          `}`,
          `</style>`,
        ].join("\n");
        setCookie("colorScheme", degree, 365);
      }

      function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }

      var lastActive = null;
      function toggleLyrics(el) {
        lyrics = el.nextElementSibling;
        if (lastActive !== null && lastActive !== lyrics) {
          lastActive.style.display = "none";
        }
        if (lyrics.style.display === "none") {
          lyrics.style.display = "block";
        } else {
          lyrics.style.display = "none";
        }
        lastActive = lyrics;
      }

      function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(";");
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) == " ") {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }

      function adjustFont(amount) {
        var sz = document.body.style.fontSize;
        if (sz == "") sz = 14; //default font size

        var size = parseFloat(sz) * amount + "px";
        document.body.style.fontSize = size;
        setCookie("fontSize", size, 365);
      }


      userFontSize = getCookie("fontSize");
      if (userFontSize != "") {
        document.body.style.fontSize = userFontSize;
      }

      function selectAll(el) {
        el.focus();
        el.select();
      }

      var my_resume = new Vue({
        el: "#songsheet",
        data: {
          songs: songs.songs,
          guide_url: songs.guide_url,
          filter: "",
        },
        computed: {
          filteredSongs() {
            return this.songs.filter((song) => {
              return (
                song.title.toLowerCase().includes(this.filter.toLowerCase()) ||
                song.number.toString().includes(this.filter)
              );
            });
          },
        },
      });
    </script>
    <footer>
      <p>Last updated: 2024-03-11 7:10:41 AM CDT</p>
      <div style="display:none" id="themeSetter">
      </div>
      <script>
        userStyle = getCookie("colorScheme");
        if (userStyle == "") {
          userStyle = Math.floor(Math.random() * 361);
        }

        var colorRange = document.getElementById('color-range')
        colorRange.addEventListener('input', function(e) {
          // var hue = ((this.value/100)*360).toFixed(0)
          setColorScheme(this.value)
        });
        colorRange.value = userStyle;
        var event = new Event('input');
        colorRange.dispatchEvent(event);
      </script>
    </footer>
  </body>
</html>
