* {
  box-sizing: border-box;
  font-family: "Helvetica";
  /*font-family: "Geneva";*/
}

html {
  background-color: #4a210f;
  font-size: 12px;
  padding: 10px;
}

body {
  max-width: 600px;
  margin: 0 auto;
}

#filter {
  padding: 10px;
  width: 75%;
  font-size: 2em;
  border-radius: 10px;
  border: 0px;
}

#controls > * {
  display: inline;
  margin: 0;
  border: 0;
}

#fontAdjust > button {
  width: 10%;
  padding: 10px 0;
  font-size: 2em;
  float: right;
  margin: 0 2px;
  border-radius: 10px;

  border: 1px solid #e4c7af;
  background-color: #26140d;
  color: #e4c7af;
  cursor: pointer;
}

#songs {
  width: 100%;
}

.song {
  margin: 1em 0 1em 0;
  width: 100%;
  display: block;
  background-color: #d69e77;
  border-radius: 10px;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  color: #26140d;
  padding: 10px;
}

.lyrics {
  white-space: pre-wrap;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 1em;
  background-color: #e4c7af;
  color: #26140d;
  border-radius: 10px 10px 0 0;
}

footer p {
  text-align: left;
  font-size: 0.5em;
  color: #e4c7af;
  padding: 10px;
}

#colorPicker {
  width: 100%;
  display: block;
  height: 10%;
  margin-top: 8px;
  text-align: center;
}

#colorPicker button {
  width: 13%;
  height: 100%;
  font-size: 10px;
  padding: 10px 0;
  margin: 0 1%;
  border-radius: 10px;
  cursor: pointer;

  border: 1px solid #caf0f8;
}

#colorPicker #default {
  border-color: #e4c7af;
  background-color: #26140d;
  color: #e4c7af;
}

#colorPicker #cary {
  border-color: #caf0f8;
  background-color: #03045e;
  color: #caf0f8;
}
#colorPicker #lydia {
  border-color: #ddbbe1;
  background-color: #381e41;
  color: #ddbbe1;
}

#colorPicker #oliver {
  border-color: #d1face;
  background-color: #163805;
  color: #d1face;
}

#colorPicker #judy {
  border-color: #ffcfed;
  background-color: #7a1f53;
  color: #ffcfed;
}
#colorPicker #katherine {
  border-color: #ffb8b8;
  background-color: #540005;
  color: #ffb8b8;
}
