html {
  background-color: #ad0c0f;
}

#fontAdjust > button {
  border-color: #ffb8b8;
  background-color: #540005;
  color: #ffb8b8;
}

.song {
  background-color: #f96b6b;
}

.title {
  color: #540005;
}

.lyrics {
  background-color: #ffb8b8;
  color: #540005;
}

footer p {
  color: #ffb8b8;
}
